# Pandas dataframe

In [1]:
import numpy as np

In [2]:
temp=np.random.randint(low=20 ,high=100,size=[4,])
name=np.random.choice(['Wasif','Murtaza','Ahsan','Hasnian'],4)
random=np.random.choice([10,11,12,13],4)

In [3]:
a=list(zip(temp,name,random))

In [7]:
df=pd.DataFrame(data=a,columns=['temp','name','random'])

In [5]:
import pandas as pd

In [8]:
df

   temp     name  random
0    96    Ahsan      11
1    64    Ahsan      13
2    29  Murtaza      10
3    32  Hasnian      13

In [9]:
type(a)

list

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df=pd.DataFrame({'temp':temp,'name':name,'random':random})

In [12]:
df

   temp     name  random
0    96    Ahsan      11
1    64    Ahsan      13
2    29  Murtaza      10
3    32  Hasnian      13

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.head()

   temp     name  random
0    96    Ahsan      11
1    64    Ahsan      13
2    29  Murtaza      10
3    32  Hasnian      13

In [16]:
df.tail()

   temp     name  random
0    96    Ahsan      11
1    64    Ahsan      13
2    29  Murtaza      10
3    32  Hasnian      13

In [18]:
df.shape

(4, 3)

In [19]:
df.columns

Index(['temp', 'name', 'random'], dtype='object')

In [21]:
df.name

0      Ahsan
1      Ahsan
2    Murtaza
3    Hasnian
Name: name, dtype: object

In [22]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [23]:
df['name']

0      Ahsan
1      Ahsan
2    Murtaza
3    Hasnian
Name: name, dtype: object

In [26]:
df['temp'].describe()

count     4.000000
mean     55.250000
std      31.447045
min      29.000000
25%      31.250000
50%      48.000000
75%      72.000000
max      96.000000
Name: temp, dtype: float64

In [25]:
df.temp

0    96
1    64
2    29
3    32
Name: temp, dtype: int32

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
temp      4 non-null int32
name      4 non-null object
random    4 non-null int32
dtypes: int32(2), object(1)
memory usage: 192.0+ bytes

In [29]:
df.values

array([[96, 'Ahsan', 11],
       [64, 'Ahsan', 13],
       [29, 'Murtaza', 10],
       [32, 'Hasnian', 13]], dtype=object)

In [30]:
df

   temp     name  random
0    96    Ahsan      11
1    64    Ahsan      13
2    29  Murtaza      10
3    32  Hasnian      13

In [14]:
df

   temp     name  random
0    73    Wasif      12
1    52    Ahsan      11
2    90    Ahsan      13
3    58  Hasnian      10

In [15]:
df.temp

0    73
1    52
2    90
3    58
Name: temp, dtype: int64

In [16]:
df.set_index('temp')

         name  random
temp
73      Wasif      12
52      Ahsan      11
90      Ahsan      13
58    Hasnian      10

In [18]:
df.set_index('temp',inplace=True)

In [19]:
df

         name  random
temp
73      Wasif      12
52      Ahsan      11
90      Ahsan      13
58    Hasnian      10

In [22]:
df.sort_index(axis=0,ascending=False)

         name  random
temp
90      Ahsan      13
73      Wasif      12
58    Hasnian      10
52      Ahsan      11

In [23]:
df.sort_index(by='random',ascending=False)

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

         name  random
temp
90      Ahsan      13
73      Wasif      12
52      Ahsan      11
58    Hasnian      10

In [27]:
df.drop(['random'],axis=1,inplace=True)

In [28]:
df

         name
temp
73      Wasif
52      Ahsan
90      Ahsan
58    Hasnian

In [30]:
df.head()

         name
temp
73      Wasif
52      Ahsan
90      Ahsan
58    Hasnian

In [32]:
df.iloc[[0,1]]

       name
temp
73    Wasif
52    Ahsan

In [45]:
df.loc[1:3,1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [39]:
df.iloc[[True,True,False,True]]

         name
temp
73      Wasif
52      Ahsan
58    Hasnian

In [47]:
df.loc[[73,58],'name':'random']

         name
temp
73      Wasif
58    Hasnian

In [48]:
df.loc[[True,False,True,True]]

         name
temp
73      Wasif
90      Ahsan
58    Hasnian

In [52]:
df.loc[(df.name>13)|(df.name==11),:]

TypeError: '>' not supported between instances of 'numpy.str_' and 'int'

In [53]:
df1=pd.read_csv("weatehr_data.csv")

FileNotFoundError: [Errno 2] File b'weatehr_data.csv' does not exist: b'weatehr_data.csv'